html {
  background-color: #DFB39A;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

div:not(.header, .footer) {
  border-radius: 10px;
}

.header {
  padding: 6px;
  padding-bottom: 10%;
  background-image: url(assets/Untitled154.jpg);
  background-size: cover;
}

.header-title{
  margin-top: 7vw;
  margin-left: 2vw;
  color: #7B351C;
  font-size: 5.7vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  padding: 10px;
}

img {
  border-radius: 5px;
}

.item1,
.item2,
.item3,
.item4 {
  padding: 10px;
  background-color: #9F6041;
}

.a-h1 {
  color: #730000;
  font-size: 30px;
  font-weight: bolder;
}

.a-p {
  text-align: justify;
  color: #fff2d1;
}

.grid-container-post p {
  text-align: left;
}

.grid-container-post p:hover {
  transform: scale(1.1);
}

.grid-container img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.footer {
  position: absolute;
  bottom: 10;
  background-color: #9F6041;
  border-radius: 0;
  height: 200px;
  width: 100%;
  text-align: center;
}

.footer-authors li {
  margin-right: 20px;
  display: inline-block;
}

.content {
  margin: 10px;
  text-align: justify;
  display: grid;
  grid-template-columns: auto;
}

.content-title img {
  position: sticky;
  top: 20px;
  max-width: 100%;
  max-height: 90vh;
  height: auto;
}

.content-main {
  margin: 20px;
  color: #730000;
}

.content-main p,
li {
  font-size: 25px;
  margin: 5px;
}

.content-main h1 {
  text-align: center;
  font-size: 40px;
}

.content-main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-posts h1 {
  text-align: center;
  color:#730000;
}

.content-posts div {
  margin-top: 30px;
  padding: 10px;
  margin: 0 8vw 8vw 8vw;
  background-color: #9F6041;
}

.content-posts img {
  width: 100%;
}

@media only screen and (min-width: 1100px){
  .content-title img{
    content:url("assets/Untitled155.png");
  }

  .content {
    margin: 10px;
    text-align: justify;
    display: grid;
    grid-template-columns: auto auto 300px;
  }
  
  .content-posts h1 {
    display: none;
  }

  .content-posts div {
    margin-top: 30px;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 735px){
  .grid-container {
    margin: 2%;
    grid-template-columns: 1fr 1fr;
  }
}
